// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $component-name: &;

  position: relative;
  z-index: 2;

  color: #fff;
  font-weight: 500;

  background-color: #000;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $header-height;
  }
}
