// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: $typo-margin-vertical;
    margin-bottom: $typo-margin-vertical;
  }

  .prev {

    @include media-breakpoint-down(lg) {
      display: none;
    }

    margin-right: auto;
    padding-left: 50px;
    border-radius: 0;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 26px;
      height: 20px;
      transform-origin: center;
      transform: rotate(180deg);
      background-repeat: no-repeat;
      background-position: center;
      background-image: svg-load('images/icons/right-arrow-icon.svg', fill=currentcolor);
      transition: background-image 0.3s;
    }

    &:hover::after {
      background-image: svg-load('images/icons/right-arrow-icon.svg', fill=$color-main);
    }
  }

  .next {

    @include media-breakpoint-down(lg) {
      display: none;
    }

    margin-left: auto;
    padding-right: 50px;
    border-radius: 0;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 26px;
      height: 20px;
      transform-origin: center;
      background-repeat: no-repeat;
      background-position: center;
      background-image: svg-load('images/icons/right-arrow-icon.svg', fill=currentcolor);
      transition: background-image 0.3s;
    }

    &:hover::after {
      background-image: svg-load('images/icons/right-arrow-icon.svg', fill=$color-main);
    }
  }

  .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    color: #363636;

    &:not(span):hover {
      color: $color-main;
    }
  }

  .current {
    color: #fff;
    background-color: $color-main;
  }
}
