.video-preview {

  &__inner {

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__left-wrap {

    @include media-breakpoint-down(lg) {
      max-width: 400px;
    }

    max-width: 470px;
  }
}
